EIGHTMP3_SAMPLE RCDATA "Win32\\Debug\\eight.mp3"
FIVEMP3_SAMPLE RCDATA "Win32\\Debug\\five.mp3"
FOURMP3_SAMPLE RCDATA "Win32\\Debug\\four.mp3"
NINEMP3_SAMPLE RCDATA "Win32\\Debug\\nine.mp3"
ONEMP3_SAMPLE RCDATA "Win32\\Debug\\one.mp3"
SEVENMP3_SAMPLE RCDATA "Win32\\Debug\\seven.mp3"
SIXMP3_SAMPLE RCDATA "Win32\\Debug\\six.mp3"
TENMP3_SAMPLE RCDATA "Win32\\Debug\\ten.mp3"
THREEMP3_SAMPLE RCDATA "Win32\\Debug\\three.mp3"
TWOMP3_SAMPLE RCDATA "Win32\\Debug\\two.mp3"
MP3_SAMPLE RCDATA "Win32\\Debug\\video2.mp3"
